.orders {
  &-container {
    max-width: 110rem;
    margin: 0 auto;
  }
  &__card {
    display: flex;
    background: #fff;
    margin-bottom: 2rem;
  }
  &__items {
    padding: 3rem;
    display: flex;
  }
  &__img {
    margin-bottom: 2rem;
    height: 15rem;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding: 3rem 0;
    font-size: 1.5rem;
    align-items: flex-end;
    text-align: right;
  }
  &__calc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
  }
}
