$color-primary: #f9d423;

$color-secondary: #ff4e50;

$color-dark: #000;
$color-dark-light: #f5f5f5e0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(216, 210, 210);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
